.yellow {
  background-color: yellow;
  height: 700px;
}
.header {
  background-color: blue;
  height: 120px;
  border: 2px solid black;
}
.nav {
  height: 50px;
  background-color: green;
  border: 2px solid black;
}
.content {
  height: 250px;
  background-color: red;
  border: 2px solid black;
}
.aside {
  height: 250px;
  background-color: teal;
  border: 2px solid black;
}
.promo {
  height: 150px;
  background-color: orange;
  border: 2px solid black;
}
.footer {
  height: 80px;
  background: black;
  border: 2px solid black;
}
